body {
    background: #00d4ff;
}

table {
    margin: 20px auto;
}

table button {
    height: 75px;
    width: 75px;
}

.checkbox {
    display: block;
    margin: 0 auto;
}

.WATER {
    background: cornflowerblue;
}

.HIT {
    background: crimson;
}

.MISS {
    background: ghostwhite;
}

.DESTROYER {
    background: #d1d1d1;
}

.SUBMARINE {
    background: #959595;
}

.CRUISER {
    background: #959595;
}

.BATTLESHIP {
    background: #555555;
}

.CARRIER {
    background: #222222;
}

.gamestate {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.horizontal {
    font-size: 20px;
    text-align: center;
}

.rooms {

}

h1 {
    text-align: center;
    margin: 60px;
}

h3 {
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 20px;
    text-align: left;
}

.form {
    display: inline-block;
    text-align: center;
    width: 600px;
    max-width: 600px;
    margin-left: 35%;
    margin-right: 35%;
}

.btn {
    margin-bottom: 15px;
    margin-top: 30px;
}