body {
    background: #234f58;
    color: white;
}

table {
    margin: 20px auto;
}

table button {
    height: 65px;
    width: 65px;
}

.checkbox {
    display: block;
    margin: 0 auto;
}

.WATER {
    background: cornflowerblue;
}

.HIT {
    background: crimson;
}

.MISS {
    background: ghostwhite;
}

.DESTROYER {
    background: #d1d1d1;
}

.SUBMARINE {
    background: #959595;
}

.CRUISER {
    background: #959595;
}

.BATTLESHIP {
    background: #555555;
}

.CARRIER {
    background: #222222;
}

.playerOneInfo {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 25px;
}

.playerTwoInfo {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 25px;
}

.gameState {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.gameInfo {
    font-size: 20px;
    text-align: center;
}

.rooms {
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    margin: 60px;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
}

h4 {
    margin-bottom: 20px;
    text-align: left;
}

.card {
    background-color: rgba(255,255,255,0.2);
}

.card1 {
    display: inline-block;
    max-width: 600px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgba(255,255,255,0.2);
}

.list-group-item {
    vertical-align: middle;
    background-color: rgba(255,255,255,0.2);
}

.btn {
    margin-bottom: 15px;
    margin-top: 30px;
    display: inline-block;
    text-align: center;
}

.lobby {
    display: inline-block;
}

.join {
    float: right;
    margin-top: 0px;
}