<h1>Welcome to Battleship</h1>
<div class="card">
    <div class="card-body">
        <form ng-submit="login()">
            <h3 class="text-center">Login</h3>
            <div class="form-group">
                <h4>Username</h4>
                <input type="text" class="form-control" name="username" placeholder="Username" ng-model="credentials.username" ng-class="user.credentialError">
                <strong class="invalid-feedback">Hibás adatok</strong>
            </div>
            <div class="form-group">
                <h4>Password</h4>
                <input type="password" class="form-control" name="password" placeholder="Password" ng-model="credentials.password" ng-class="user.credentialError">
                <strong class="invalid-feedback">Hibás adatok</strong>
            </div>
            <button type="submit" class="btn btn-success btn-block">Log in</button>
        </form>
        <a href="#!register" class="btn btn-primary btn-block">Register</a>
    </div>
</div>