<h1>{{WELCOMETO}}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form ng-submit="login()">
                        <h3>{{'LOGIN' | translate}}</h3>
                        <div class="form-group">
                            <h4>{{'USERNAME' | translate }}</h4>
                            <input type="text" class="form-control" name="username" placeholder="Username" ng-model="credentials.username" ng-class="user.credentialError">
                            <strong class="invalid-feedback">{{'WRONGCREDENTIALS' | translate}}</strong>
                        </div>
                        <div class="form-group">
                            <h4>{{'PASSWORD' | translate}}</h4>
                            <input type="password" class="form-control" name="password" placeholder="Password" ng-model="credentials.password" ng-class="user.credentialError">
                            <strong class="invalid-feedback">{{'WRONGCREDENTIALS' | translate}}</strong>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">{{'LOGIN' | translate}}</button>
                    </form>
                    <a href="#!register" class="btn btn-primary btn-block">{{'REGISTER' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>