<div>{{game.gameState}}</div>
<div ng-if="game.gameState === 'PLAYERS_PLACING'">Vertical</div>
<input type="checkbox" ng-if="game.gameState === 'PLAYERS_PLACING'" ng-model="isVertical.vertical">
<table>
    <tr ng-repeat="i in index">
        <td ng-repeat="j in index">
            <div></div>
            <button class =" ng-class: game.playerOneField ? game.playerOneField.map[i][j] : game.playerTwoField.map[i][j]" ng-click="gameLogic(i,j)">{{game.playerOneField ? game.playerOneField.map[i][j] : game.playerTwoField.map[i][j]}}</button>
        </td>
    </tr>
</table>

<button ng-click="initiateEnd()">{{game.gameState == 'PLAYER_ONE_WON' || game.gameState == 'PLAYER_TWO_WON' ? 'Back to lobby' : 'Forfeit'}}</button>